.idea/
out/
src/com/company/data/test.txt
TaskManager.iml
src/com/company/data/test_output.txt
TaskManager_MidProject_checkpoint.doc
src/META-INF/MANIFEST.MF
UML/TaskManager_class diagram.png
UML/TaskManagerUML.uxf
UML/TaskManagerUML graph.pdf
UML/TaskManagerUML graph-merged.pdf
UML/TaskManager Object Diagram.pdf
UML/Object Diagram.uxf
UML/Object Diagram.png
